<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><br>
			<mat-card>
				<div class="row">
					<div class="col-md-2">
						<mat-card-header>
							<img mat-card-avatar src="assets/images/medical/009-pills-3.png">
							<mat-card-title>
								<h5>George Will</h5>
							</mat-card-title>
						</mat-card-header>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="patient_info">Age: 45</div>
						</div>
						<div class="row">
							<div class="patient_info">Code Status: 45</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="patient_info">DOB: 45</div>
						</div>
						<div class="row">
							<div class="patient_info">Sex: 45</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="patient_info">Dosing weight: 90.9 kg</div>
						</div>
						<div class="row">
							<div class="patient_info">MRN: 6272818</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="patient_info">Location: RM 234</div>
						</div>
						<div class="row">
							<div class="patient_info">Last Visit: 01/12/17 - P</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="patient_info">Physician: Bill Adler, DO</div>
						</div>
						<div class="row">
							<div class="patient_info">Tags: A</div>
						</div>
					</div>
				</div>

			</mat-card>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-3">
			<a mat-raised-button ><br>
				<img  src="assets/images/icons/cardiogram.svg" alt="Random first slide"><br>

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Charts</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card class="example-card">

				<mat-card-content>
					<img src="assets/images/icons/cardiogram.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>

						<h5 class="label">Vitals</h5>
	
				</mat-card-header>
			</mat-card> -->
		</div>
		<div class="col-md-3">
			<a mat-raised-button><br>
				<img  src="assets/images/icons/medical-records.svg" alt="Random first slide"><br>
				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Diagnoses</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card>
				<mat-card-content>
					<img src="assets/images/icons/medical-records.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>
					<h5 class="label">Diagnoses</h5>
				</mat-card-header>
			</mat-card> -->
		</div>
		<div class="col-md-3">
			<a mat-raised-button routerLink="/medications"><br>
				<img  src="assets/images/icons/pills-1.svg" alt="Random first slide"><br>

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Pharmacy</mat-chip>
	      		</mat-chip-list><br>



			</a>
			
<!-- 			<mat-card>

				<mat-card-content>
					<img src="assets/images/icons/pills-1.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>

						<h5 class="label">Medications</h5>

				</mat-card-header>

			</mat-card> -->
			
		</div>
		<div class="col-md-3">
			<a mat-raised-button routerLink="/charts"><br>
				<img  src="assets/images/icons/lab.svg" alt="Random first slide"><br>
<!-- 				<h5 class="label">Labs / X-Rays</h5> -->

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Labs / X-Rays</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card>
				<mat-card-content>
					<img mat-card-lg-image src="assets/images/icons/lab.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>

						<h5 class="label">Labs / X-Rays</h5>

				</mat-card-header>
			</mat-card> -->
		</div>
	</div><br>
	<div class="row">
		<div class="col-md-3">
			<a mat-raised-button routerLink="/home"><br>
				<img  src="assets/images/icons/timer.svg" alt="Random first slide"><br>
				<!-- <h5 class="label">History</h5> -->

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">History</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card>
				<mat-card-content>
					<img mat-card-lg-image src="assets/images/icons/timer.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>
					<h5 class="label">History</h5>
				</mat-card-header>
			</mat-card> -->
		</div>
		<div class="col-md-3">
			<a mat-raised-button routerLink="/appointment"><br>
				<img  src="assets/images/icons/calendar.svg" alt="Random first slide"><br>
<!-- 				<h5 class="label">Appointments</h5> -->

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Appointments</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card>
				<mat-card-content>
					<img mat-card-lg-image src="assets/images/icons/calendar.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>
					<h5 class="label">Appointments</h5>
				</mat-card-header>
			</mat-card> -->
		</div>
		<div class="col-md-3">
			<a mat-raised-button><br>
				<img  src="assets/images/icons/creditcard.svg" alt="Random first slide"><br>
<!-- 				<h5 class="label">Billing</h5> -->

				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Billing</mat-chip>
	      		</mat-chip-list><br>

			</a>
<!-- 			<mat-card>
				<mat-card-content>
					<img mat-card-lg-image src="assets/images/icons/creditcard.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>

						<h5 class="label">Billing</h5>

				</mat-card-header>
			</mat-card> -->
		</div>
		<div class="col-md-3">
			<a mat-raised-button><br>
				<img  src="assets/images/icons/document.svg" alt="Random first slide"><br>

<!-- 				<h5 class="label">Documents</h5> -->
				<mat-chip-list class="mat-chip-list-stacked">
					<mat-chip  selected="true"
		      color="accent">Documents</mat-chip>
	      		</mat-chip-list><br>

			</a>

<!-- 			<mat-card>
				<mat-card-content>
					<img mat-card-lg-image src="assets/images/icons/document.svg" alt="Random first slide">
				</mat-card-content>
				<mat-card-header>

						<h5 class="label">Documents</h5>

				</mat-card-header>
			</mat-card> -->
		</div>
	</div>
</div>