<div class="container-fluid">
<br>
<mat-card>
	<form>
	
		<h4> Patient Information:</h4>
		<div class="row">
			<div class="col-md-3">
			
				<mat-form-field>
					<input matInput placeholder="First Name">
				</mat-form-field><br>

				<mat-form-field>
					<input matInput placeholder="Last Name">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Email">
				</mat-form-field><br>

				<mat-form-field>
					<input matInput placeholder="Date of Birth">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="SSN">
				</mat-form-field>
			</div>
			<div class="col-md-3">

				<mat-form-field>
					<input matInput placeholder="Street Address">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="State/Province">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Zip/Postal code">
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Country">
						<mat-option value="option">Option</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Phone Number">
				</mat-form-field>
			</div>

			<div class="col-md-3">

				<mat-form-field>
					<input matInput placeholder="Username">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Password">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="outpatient_id">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="inpatient_id">
				</mat-form-field>
			</div>

			<div class="col-md-3">

				<mat-form-field>
					<mat-select placeholder="hospital_code">
						<mat-option value="option">Option</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Gender">
						<mat-option value="option">Option</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Relationship Status">
						<mat-option value="option">Option</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select placeholder="Employment Status">
						<mat-option value="option">Option</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>


		<h4> Insurance Information:</h4>
		<div class="row">
			<div class="col-md-3">

				<mat-form-field>
					<input matInput placeholder="Insurance Name">
				</mat-form-field>
			</div>

			<div class="col-md-3">


				<mat-form-field>
					<input matInput placeholder="Policy Number">
				</mat-form-field>

			</div>
			<div class="col-md-3">

				<mat-form-field>
					<input matInput placeholder="Expiry Date">
				</mat-form-field>

			</div>
			<div class="col-md-3">

				<mat-form-field>
					<mat-select placeholder="Hospital Name">
						<mat-option value="option">Known</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

		</div>

	<button mat-raised-button type="submit"> Register Hospital</button>
	</form>
</mat-card>
</div>