<mat-card-subtitle>
	Immunization History
</mat-card-subtitle><hr>
<mat-card-content *ngFor="let immunization of immunizations">
	<mat-expansion-panel>
	  <mat-expansion-panel-header>
	    <mat-panel-title>
	      <h5>{{immunization.name}}</h5>
	    </mat-panel-title>
	    <mat-panel-description>
	      <h5>{{immunization.date}}</h5>
	    </mat-panel-description>

	  </mat-expansion-panel-header>
	  <div class="row">
	  <div class="col-md-6">
	  <h5>
	    name:
	  </h5>
	  <h5>
	    type:
	  </h5>

	  <h5>
	    vaccine_status:
	  </h5>

	  <h5>
	    vaccinator:
	  </h5>
	  <h5>
	    cvx_code:
	  </h5>

	  <h5>
	    cvx_short_description:
	  </h5>

	  
	  	
	  </div>
	  <div class="col-md-6">
	  <h5>
	    lot_no:
	  </h5>
	  <h5>
	    funding_source:
	  </h5>
	  
	  <h5>
	    note:
	  </h5>
	  <h5>
	    date:
	  </h5>
	  <h5>
	    administrator:
	  </h5>
	  </div>
	  	
	  </div>
	  
	  
	</mat-expansion-panel>
</mat-card-content>