<div class="container" style="margin-top: 10%; background-color:#FFF;" >
  <div class="row"  >
    <div style="text-align: center" class="col-sm-6 align-self-center">
      <h1 style="font-size: 70px"></h1>
    </div>
    <div class="col-sm-1">
        <div class="vl"></div>
    </div>
    <div class="col-sm-4 align-self-center">
      <div class="container">
        <form class="example-form"  (ngSubmit)="onLogin()">

            <mat-form-field class="example-full-width">
              <input matInput type="text" placeholder="Email" id="username" name="username" [(ngModel)]="credential.username" required="required" autofocus="autofocus">
            </mat-form-field>
            <!-- <label for ="username">Username *</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credential.username" required="required" autofocus="autofocus">
            <p style="color:#828282;">Enter your username</p> -->


            <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Password " id="password" name="password" [(ngModel)]="credential.password" required="required">
            </mat-form-field>
            <!-- <label for ="password">Password *</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credential.password" required="required" autofocus="autofocus">
            <p style="color:#828282;">Enter your password</p> -->
 
          <div class="row">
              <div style="text-align: center" class="col-sm-12">
              <a href="#">Forgot Password?  Signup</a>
            </div>
          </div>
          <div style="margin-top: 8%" class="row">
            <div class="col-sm-9"></div>
              <div class="col-sm-2 align-self-end">

                    <button mat-raised-button type="submit" class="mat-primary">Login</button>

              </div>
            </div>

        </form>

        <!-- <div class="row">
          
          <form class="example-form" (ngSubmit)="onLogin()">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="credential.username">
            </mat-form-field>
          </form>
        </div>
        <div class="row">
            
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password " [(ngModel)]="credential.password">
              </mat-form-field>
            </form>
          </div>
          <div  class="row">
              <div style="text-align: center" class="col-sm-12">
              <a href="#">Forgot Password?Signup</a>
            </div>
          </div>
          <div style="margin-top: 8%" class="row">
            <div class="col-sm-9"></div>
              <div class="col-sm-2 align-self-end">
	              <form class="example-form">
	                  <button mat-button >Login</button>
	              </form>
	            </div>
            </div> -->
            
<!--       </div> -->
    </div>
  </div>
</div>
</div>
