hr { background-color: #ffcc66; height: 2px; border: 0; width: 100% }

.patient_info {
	font-size: 0.875em;
}

.patient_info.p {
	font-size: 0.875em;
	font-weight: 100;
}

/*ul {
    list-style-image: url('sqorange.gif');
}*/

mat-icon{
    font-size:18px !important;
    height:18px !important;
    width: 18px !important;
}

h5 {
     font-family: 'Montserrat Black', sans-serif;
     font-weight: 400;
     font-size: 0.875em;

     width: 8em
 }

  .vitals {
     font-family: 'Montserrat Medium', sans-serif;
     font-weight: 400;
     font-size: 1.5em;
     color:rgb(72, 203, 71);
 }

 img.tab {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}