<mat-nav-list color="mat-primary">
	<a mat-list-item routerLink="/patients">
      <mat-icon matListIcon >account_circle</mat-icon>
      <h4 matLine>Patients</h4>
    </a>

	<a mat-list-item routerLink="/appointment">
      <mat-icon mat-list-icon >today</mat-icon>
      <h4 matLine>Appointment</h4>
    </a>

  	<a mat-list-item routerLink="/tasks" >
      <mat-icon mat-list-icon >today</mat-icon>
      <h4 matLine>Tasks</h4>
    </a>

  	<a mat-list-item routerLink="/medications" >
      <mat-icon matListIcon >healing</mat-icon>
      <h4 matLine>Medications</h4>
    </a>

    <a mat-list-item routerLink="/assessment" >
      <mat-icon matListIcon>assessment</mat-icon>
      <h4 matLine>Assessments</h4>
    </a>

    <a mat-list-item routerLink="/home" >
      <mat-icon matListIcon>assessment</mat-icon>
      <h4 matLine>History</h4>
    </a>

	<a mat-list-item routerLink="/charts">
	  <mat-icon matListIcon>trending_up</mat-icon>
	  <h4 matLine>Chart</h4>
	</a>

  	<a mat-list-item routerLink="/summary" >
      <mat-icon matListIcon>info_outline</mat-icon>
      <h4 matLine>Summary</h4>
  	</a>

</mat-nav-list>


<!-- 	<div class="row">
	  <div class="col-md-12" >
	  	<div class="row">

	    <button mat-raised-button ><br>
	    	<img src="assets/images/medical/025-medical-history-3.png" alt="Random first slide"><br>
	    </button>
	    </div>
	    <div class="row">
	    <button mat-raised-button class="flex-item" color="primary">
	    	<mat-icon mat-list-icon > today</mat-icon><br>
	      <h5>  Dashboard </h5>
	    </button>
	    </div>
	    <div class="row">
	    <button mat-raised-button color="primary" class="flex-item">
	  
		      <mat-icon mat-list-icon style="text-align: center ;">healing</mat-icon><br>
		      <h5 style="text-align: center ;">  Dashboard </h5>

	    </button>
	    </div>
	    <div class="row">
	    <button mat-raised-button color="primary" class="flex-item" >
	      <h5 style="text-align: center ;">  Dashboard </h5>
	    </button>
	    </div>
	    <div class="row">
	    <button mat-raised-button color="primary" class="flex-item" >
	      <h5 style="text-align: center ;">  Dashboard </h5>
	    </button>
	    </div>
	    <div class="row">
	    <button mat-raised-button color="primary" class="flex-item" >
	      <h5 style="text-align: center ;">  Dashboard </h5>
	    </button>
	    </div>

	    
	  </div>



	</div>
 -->
