<div *ngFor="let folder of folders">
	<div class="row">
	<div class="col-md-6">
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item">
			     <li><em>{{list.name}} ,</em></li>
			</ul><br>
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item">
			     <li><em>{{list.name}} ,</em></li>
			</ul><br>
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item">
			     <li><em>{{list.name}} ,</em></li>
			</ul><br>
	</div>
	<div class="col-md-6">
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item">
			     <li><em>{{list.name}} ,</em></li>
			</ul><br>
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item">
			     <li><em>{{list.name}} ,</em></li>
			</ul><br>
		Item:
			<ul class="csv" *ngFor="let list of folder.list_item1">
			     <li><em>{{list.name}} ,</em></li>
			</ul>
	</div>
	</div><hr>
</div>
